
<style>
h2{text-align: center;}

</style>



<h1>Your current NPCs:</h1>


    <% @npcs.each do |npc| %>
     <p><b><h2>
     Creature Name: <%= npc.name %> 
     &nbsp; &nbsp; &nbsp; CR:<%= npc.cr_rating%> 
     &nbsp; &nbsp; &nbsp; Level: <%= npc.level %>
     </h2></b></p>
     
     <ul>
        <h4><li>EXP for encounter: <%=npc.exp%></li>
        <li>Species: <%= npc.species %></li>
        <li>Class: <%= npc.npc_class%></li></h4>

        <h3><u> Defensive Stats:</u></h3>

        <li>Hit Points: <%=npc.hp%>; &nbsp; &nbsp; Resolve Points: <%= npc.rp%></li>
        <li>Energy Armor Class: <%=npc.eac%>; &nbsp; &nbsp; Kinetic Armor Class: <%=npc.kac%></li>
        <h4>Saving Throws:</h4>
        <li>Fortitude: <%=npc.fort_save%>; &nbsp; &nbsp; Reflex: <%=npc.ref_save%>; &nbsp; &nbsp; Will: <%=npc.will_save%></li>
        
        <h3><u>Offensive Stats:</u></h3>
        <li>Speed: <%= npc.speed%></li>

        <h3><u>Ability Score Modifiers:</u></h3>
        <li>1st:</li>
        <li>2nd:</li>
        <li>3rd:</li>

        <h3><u>Skills:</u></h3>
        <li>Master Skill: <%=npc.master_skill%></li>
        <li>Good Skill: <%=npc.good_skill%></li>
        <li>Special Ability: <%=npc.special_abilities%></li>
        
        <h3><u>Additional Notes/Info:</u></h3>
        <%=npc.optional_info%>

    </ul>
    <br></br>
        
        <p><%puts%> <a href= '/npcs/<%=npc.id%>/edit'>Edit</a> or <a href= '/npcs/<%=npc.id%>/delete'>Delete </a>this npc.</p>
        <%end%>




<a href= "/sessions/logout">Log Out </a>