
<h1><u>Your NPCs:</u></h1>

<% if @npcs.empty? %>
    You have no NPCs yet! You can create one <a href = '/npcs/new'>here </a>
<%else%>
    <% @npcs.each do |npc| %>
     <h2>
     Creature Name: <%= npc.name %>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
     CR:<%= npc.cr_rating%> 
     </h2>
     
     <ul>
        <li>EXP for encounter: <%=npc.exp%></li>
        <li>Species: <%= npc.species %></li>
        <li>Class: <%= npc.npc_class%></li>

        <h3><u> Defensive Stats:</u></h3>

        <li>Hit Points: <%=npc.hp%>; &nbsp; &nbsp; Resolve Points: <%= npc.rp%></li>
        <li>Initiative: <%=npc.initiative%></li>
        <li>Energy Armor Class: <%=npc.eac%>; &nbsp; &nbsp; Kinetic Armor Class: <%=npc.kac%></li>
        <li>Defensive Ability: <%=npc.defense_ability%></li>
        <li>Immunities: <%=npc.immunities%></li>

        <h3><u>Saving Throws:</u></h3>
        <li>Fortitude: <%=npc.fort_save%>; &nbsp; &nbsp; Reflex: <%=npc.ref_save%>; &nbsp; &nbsp; Will: <%=npc.will_save%></li>
      

        <h3><u>Offensive Stats:</u></h3>
        <li>Speed: <%= npc.speed%></li>
        <li>Melee Attacks: <%= npc.melee%></li>
        <li>Ranged Attacks: <%= npc.ranged%></li>
        <li>Offensive Ability: <%=npc.offense_ability%></li>

        <h3><u>Ability Modifiers:</u></h3>
        <li>Strength: + <%= npc.str_mod%></li>
        <li>Dexterity: + <%= npc.dex_mod%></li>
        <li>Constitution: + <%= npc.con_mod%></li>
        <li>Intelligence: + <%= npc.int_mod%></li>
        <li>Wisdom: + <%= npc.wis_mod%></li>
        <li>Charisma: + <%= npc.char_mod %></li>

        <h3><u>Skills:</u></h3>
        <li>Master Skill: <%=npc.master_skill%></li>
        <li>Good Skill: <%=npc.good_skill%></li>
        <li>Special Ability: <%=npc.special_ability%></li>
        
        <h3><u>Equipment</u></h3>
        <li>Medical: <%= npc.medical%></li>
        <li>Magic Items: <%=npc.magic_items%></li>
        <li>Technological Items: <%=npc.tech_items%></li>
        <li>Other: <%=npc.other_equip%></li>
        <li>Loot: <%=npc.loot%></li>
    
        <h3><u>Notes</u></h3>
        <li>Notes: <%=npc.optional_info%></li>

    </ul>
    <br></br>
    
     
    
    
    <form action= "/npcs/<%= npc.id %> method = "GET">
        <input type = "submit" value = "View this NPC">
    </form>

    <br></br>

    <form action="/npcs/<%= npc.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form> 
    <br></br>
    <br></br>
        <%end%>
<%end%>
